Parsing issue: host bits enabled in many databases

In about 400 cases, host bits are enabled in prefixes. This affects AFRINIC, ARIN, BELL (only one object affected), LEVEL3 (only once), RIPE and SAVVIS. In many cases, this concerns `member` attributes, but also the primary key of a `route` object. 

Some examples:
```
route:        216.89.79.34/27
descr:        Interglobe cidr block
origin:       AS17248
mnt-by:       MAINT-AS17248
changed:      gbove@nyigc.com 20070123
source:       SAVVIS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ERROR: Invalid address prefix: 216.89.79.34/27: IP('216.89.79.34/27') has invalid prefix length (27)

=======================================

route:        23.15.208.1/20
descr:        Peer1 Route Object
origin:       AS13768
mnt-by:       maint-as13768
changed:      support@peer1.com 20110627
source:       SAVVIS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ERROR: Invalid address prefix: 23.15.208.1/20: IP('23.15.208.1/20') has invalid prefix length (20)

=======================================

route6:         2a07:1c44:711::/44
descr:          IONSWITCH-SEA-IP6-ext
origin:         AS395970
mnt-by:         MNT-IL-446
changed:        nick@ionswitch.com 20170420
source:         ARIN
remarks:        ****************************
remarks:        * THIS OBJECT CONTAINS PLACEHOLDER DATA
remarks:        * Please note that all data that is generally regarded as personal
remarks:        * data has been removed from this object.
remarks:        * To view the original object, please query the ARIN Database at:
remarks:        * http://www.arin.net/whois
remarks:        ****************************
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ERROR: Invalid address prefix: 2a07:1c44:711::/44: IP('2a07:1c44:711::/44') has invalid prefix length (44)


=======================================

route-set:      RS-ROKE-FORIS
descr:          FORIS prefixes advertised through ROKE Telkom
members:        AS37048
members:        41.190.192.0/19
members:        41.190.192.0/20
members:        41.190.208.0/20
members:        41.190.192.0/21
members:        41.190.200.8/21
members:        41.190.208.16/21
members:        41.190.216.24/21
members:        41.190.192.0/22
members:        41.190.196.4/22
members:        41.190.200.8/22
members:        41.190.204.12/22
members:        41.190.208.16/22
members:        41.190.212.20/22
members:        41.190.216.24/22
members:        41.190.220.28/22
members:        41.190.192.0/23
members:        41.190.194.0/23
members:        41.190.196.0/23
members:        41.190.198.0/23
members:        41.190.200.0/23
members:        41.190.202.0/23
members:        41.190.204.0/23
members:        41.190.206.0/23
members:        41.190.208.0/23
members:        41.190.210.0/23
members:        41.190.212.0/23
members:        41.190.214.0/23
members:        41.190.216.0/23
members:        41.190.218.0/23
members:        41.190.220.0/23
members:        41.190.222.0/23
members:        41.190.192.0/24
members:        41.190.193.0/24
members:        41.190.194.0/24
members:        41.190.195.0/24
members:        41.190.196.0/24
members:        41.190.197.0/24
members:        41.190.198.0/24
members:        41.190.199.0/24
members:        41.190.200.0/24
members:        41.190.201.0/24
members:        41.190.202.0/24
members:        41.190.203.0/24
members:        41.190.204.0/24
members:        41.190.205.0/24
members:        41.190.206.0/24
members:        41.190.207.0/24
members:        41.190.208.0/24
members:        41.190.209.0/24
members:        41.190.210.0/24
members:        41.190.211.0/24
members:        41.190.212.0/24
members:        41.190.213.0/24
members:        41.190.214.0/24
members:        41.190.215.0/24
members:        41.190.216.0/24
members:        41.190.217.0/24
members:        41.190.218.0/24
members:        41.190.219.0/24
members:        41.190.220.0/24
members:        41.190.221.0/24
members:        41.190.222.0/24
members:        41.190.223.0/24
tech-c:         DUMY-RIPE
admin-c:        DUMY-RIPE
mnt-by:         ROKE-MNT
created:        2016-03-24T06:09:19Z
last-modified:  2016-09-28T07:50:30Z
source:         RIPE
remarks:        ****************************
remarks:        * THIS OBJECT IS MODIFIED
remarks:        * Please note that all data that is generally regarded as personal
remarks:        * data has been removed from this object.
remarks:        * To view the original object, please query the RIPE Database at:
remarks:        * http://www.ripe.net/whois
remarks:        ****************************
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.200.8/21: IP('41.190.200.8/21') has invalid prefix length (21)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.208.16/21: IP('41.190.208.16/21') has invalid prefix length (21)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.216.24/21: IP('41.190.216.24/21') has invalid prefix length (21)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.196.4/22: IP('41.190.196.4/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.200.8/22: IP('41.190.200.8/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.204.12/22: IP('41.190.204.12/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.208.16/22: IP('41.190.208.16/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.212.20/22: IP('41.190.212.20/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.216.24/22: IP('41.190.216.24/22') has invalid prefix length (22)
ERROR: Value is neither a valid set name nor a valid prefix: 41.190.220.28/22: IP('41.190.220.28/22') has invalid prefix length (22)
```

Full log of all unique errors (#61 was already made to clean these a little bit):
```
errors.afrinic.db:ERROR: Value is neither a valid set name nor a valid prefix: 105.60.0.0/13: IP('105.60.0.0/13') has invalid prefix length (13)
errors.afrinic.db:ERROR: Value is neither a valid set name nor a valid prefix: 196.223.253.0/23: IP('196.223.253.0/23') has invalid prefix length (23)
errors.afrinic.db:ERROR: Value is neither a valid set name nor a valid prefix: 196.43.208.5/24: IP('196.43.208.5/24') has invalid prefix length (24)
errors.arin.db:ERROR: Invalid address prefix: 2001:420:3400::/34: IP('2001:420:3400::/34') has invalid prefix length (34)
errors.arin.db:ERROR: Invalid address prefix: 2001:470:33::1/48: IP('2001:470:33::1/48') has invalid prefix length (48)
errors.arin.db:ERROR: Invalid address prefix: 2600:C04:1002:C::2/64: IP('2600:c04:1002:c::2/64') has invalid prefix length (64)
errors.arin.db:ERROR: Invalid address prefix: 2605:4d00::1/32: IP('2605:4d00::1/32') has invalid prefix length (32)
errors.arin.db:ERROR: Invalid address prefix: 2620:10A:E0::/40: IP('2620:10a:e0::/40') has invalid prefix length (40)
errors.arin.db:ERROR: Invalid address prefix: 2a07:1c44:711::/44: IP('2a07:1c44:711::/44') has invalid prefix length (44)
errors.arin.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.225.29.0/22: IP('192.225.29.0/22') has invalid prefix length (22)
errors.arin.db:ERROR: Value is neither a valid set name nor a valid prefix: 198.187.213.0/23: IP('198.187.213.0/23') has invalid prefix length (23)
errors.arin.db:ERROR: Value is neither a valid set name nor a valid prefix: 200.13.200.0/20: IP('200.13.200.0/20') has invalid prefix length (20)
errors.arin.db:ERROR: Value is neither a valid set name nor a valid prefix: 208.42.199.1/24: IP('208.42.199.1/24') has invalid prefix length (24)
errors.arin.db:ERROR: Value is neither a valid set name nor a valid prefix: 209.67.253.0/23: IP('209.67.253.0/23') has invalid prefix length (23)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.197.180.0/16: IP('192.197.180.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.197.181.0/16: IP('192.197.181.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.197.182.0/16: IP('192.197.182.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.197.183.0/16: IP('192.197.183.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.197.184.0/16: IP('192.197.184.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.32.0/16: IP('207.34.32.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.33.0/16: IP('207.34.33.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.34.0/16: IP('207.34.34.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.35.0/16: IP('207.34.35.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.36.0/16: IP('207.34.36.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.37.0/16: IP('207.34.37.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.38.0/16: IP('207.34.38.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.39.0/16: IP('207.34.39.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.40.0/16: IP('207.34.40.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.41.0/16: IP('207.34.41.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.42.0/16: IP('207.34.42.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.43.0/16: IP('207.34.43.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.44.0/16: IP('207.34.44.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.45.0/16: IP('207.34.45.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.46.0/16: IP('207.34.46.0/16') has invalid prefix length (16)
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.47.0/16: IP('207.34.47.0/16') has invalid prefix length (16)
errors.level3.db:ERROR: Value is neither a valid set name nor a valid prefix: 63.245.72.0/20: IP('63.245.72.0/20') has invalid prefix length (20)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 103.1.45.0/23: IP('103.1.45.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 103.11.37.0/23: IP('103.11.37.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 154.117.239.0/20: IP('154.117.239.0/20') has invalid prefix length (20)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 154.117.254.0/22: IP('154.117.254.0/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 169.254.0.0/0: IP('169.254.0.0/0') has invalid prefix length (0)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 170.252.85.0/23: IP('170.252.85.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 178.20.87.0/21: IP('178.20.87.0/21') has invalid prefix length (21)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.176.121.0/23: IP('192.176.121.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 192.194.136.0/20: IP('192.194.136.0/20') has invalid prefix length (20)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.104.188.0/2: IP('193.104.188.0/2') has invalid prefix length (2)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.149.1.106/25: IP('193.149.1.106/25') has invalid prefix length (25)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.188.137.162/24: IP('193.188.137.162/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.218.0.66/24: IP('193.218.0.66/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.238.188.0/21: IP('193.238.188.0/21') has invalid prefix length (21)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 193.42.155.39/24: IP('193.42.155.39/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 194.146.118.77/24: IP('194.146.118.77/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 194.53.172.111/25: IP('194.53.172.111/25') has invalid prefix length (25)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 194.68.123.199/24: IP('194.68.123.199/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 194.68.128.199/24: IP('194.68.128.199/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 194.9.117.60/24: IP('194.9.117.60/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.182.218.151/23: IP('195.182.218.151/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.245.240.199/24: IP('195.245.240.199/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.66.225.111/22: IP('195.66.225.111/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.66.237.111/22: IP('195.66.237.111/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.69.119.199/24: IP('195.69.119.199/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.69.144.229/22: IP('195.69.144.229/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 195.69.145.229/22: IP('195.69.145.229/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 196.202.222.0/22: IP('196.202.222.0/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 197.232.17.0/23: IP('197.232.17.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 198.32.118.114/24: IP('198.32.118.114/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 198.32.125.70/23: IP('198.32.125.70/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 198.32.132.118/24: IP('198.32.132.118/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 198.32.176.206/24: IP('198.32.176.206/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:478:124::70/48: IP('2001:478:124::70/48') has invalid prefix length (48)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:478:132::118/64: IP('2001:478:132::118/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:0:2::5580:1/64: IP('2001:504:0:2::5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:0:4::5580:1/64: IP('2001:504:0:4::5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:0:5::5580:1/64: IP('2001:504:0:5::5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:16::15cc/64: IP('2001:504:16::15cc/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:17:115::25/64: IP('2001:504:17:115::25/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:d::5580:1/64: IP('2001:504:d::5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:504:f::72/64: IP('2001:504:f::72/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:14::3a:1/64: IP('2001:7f8:14::3a:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:1::a500:5580:1/64: IP('2001:7f8:1::a500:5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:1::a500:5580:2/64: IP('2001:7f8:1::a500:5580:2/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:24::ad/64: IP('2001:7f8:24::ad/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:26::a500:5580:1/64: IP('2001:7f8:26::a500:5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:35::5580:1/64: IP('2001:7f8:35::5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:42::a500:5580:1/64: IP('2001:7f8:42::a500:5580:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:4:1::15cc:1/64: IP('2001:7f8:4:1::15cc:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:4::15cc:1/64: IP('2001:7f8:4::15cc:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:54::9/64: IP('2001:7f8:54::9/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:8:15:0:15cc:0:1/64: IP('2001:7f8:8:15:0:15cc:0:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:8:20:0:15cc:0:1/64: IP('2001:7f8:8:20:0:15cc:0:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:8::15cc:0:1/64: IP('2001:7f8:8::15cc:0:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8::15cc:0:1/64: IP('2001:7f8::15cc:0:1/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8::15cc:0:2/64: IP('2001:7f8::15cc:0:2/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:b:100:1d1:a5d0:5580:107/64: IP('2001:7f8:b:100:1d1:a5d0:5580:107/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:d:fb::199/64: IP('2001:7f8:d:fb::199/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:d:fc::199/64: IP('2001:7f8:d:fc::199/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:d:fe::199/64: IP('2001:7f8:d:fe::199/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:d:ff::199/64: IP('2001:7f8:d:ff::199/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2001:7f8:f::51/64: IP('2001:7f8:f::51/64') has invalid prefix length (64)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.126.115.25/24: IP('206.126.115.25/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.126.236.204/22: IP('206.126.236.204/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.223.118.117/24: IP('206.223.118.117/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.223.119.45/24: IP('206.223.119.45/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.223.143.212/24: IP('206.223.143.212/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 206.81.81.17/23: IP('206.81.81.17/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 217.29.66.107/23: IP('217.29.66.107/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 2a02:e982::/29: IP('2a02:e982::/29') has invalid prefix length (29)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 37.49.236.9/23: IP('37.49.236.9/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.138.223.0/23: IP('41.138.223.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.196.4/22: IP('41.190.196.4/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.200.8/21: IP('41.190.200.8/21') has invalid prefix length (21)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.200.8/22: IP('41.190.200.8/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.204.12/22: IP('41.190.204.12/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.208.16/21: IP('41.190.208.16/21') has invalid prefix length (21)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.208.16/22: IP('41.190.208.16/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.212.20/22: IP('41.190.212.20/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.216.24/21: IP('41.190.216.24/21') has invalid prefix length (21)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.216.24/22: IP('41.190.216.24/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.190.220.28/22: IP('41.190.220.28/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.221.95.0/2: IP('41.221.95.0/2') has invalid prefix length (2)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.75.191.0/22: IP('41.75.191.0/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.84.223.0/22: IP('41.84.223.0/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 41.86.122.0/20: IP('41.86.122.0/20') has invalid prefix length (20)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 43.230.103.0/23: IP('43.230.103.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.66/23: IP('46.43.64.66/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.68/22: IP('46.43.64.68/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.72/22: IP('46.43.64.72/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.76/24: IP('46.43.64.76/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.77/24: IP('46.43.64.77/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.78/24: IP('46.43.64.78/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 46.43.64.79/24: IP('46.43.64.79/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 62.69.144.1/23: IP('62.69.144.1/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 62.69.146.1/23: IP('62.69.146.1/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 64.18.215.0/23: IP('64.18.215.0/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 80.81.194.66/22: IP('80.81.194.66/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 80.81.195.66/22: IP('80.81.195.66/22') has invalid prefix length (22)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 81.178.224.0/17: IP('81.178.224.0/17') has invalid prefix length (17)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 81.179.64.0/17: IP('81.179.64.0/17') has invalid prefix length (17)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 85.210.192.0/17: IP('85.210.192.0/17') has invalid prefix length (17)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 91.194.218.16/24: IP('91.194.218.16/24') has invalid prefix length (24)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 91.206.52.173/23: IP('91.206.52.173/23') has invalid prefix length (23)
errors.ripe.db:ERROR: Value is neither a valid set name nor a valid prefix: 91.210.16.223/22: IP('91.210.16.223/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.186.1/24: IP('107.191.186.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.187.1/24: IP('107.191.187.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.188.1/24: IP('107.191.188.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.189.1/24: IP('107.191.189.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.190.1/24: IP('107.191.190.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 107.191.191.1/24: IP('107.191.191.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 109.205.119.0/21: IP('109.205.119.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 118.91.8.0/20: IP('118.91.8.0/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 12.45.97.80/21: IP('12.45.97.80/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 151.185.64.0/16: IP('151.185.64.0/16') has invalid prefix length (16)
errors.savvis.db:ERROR: Invalid address prefix: 162.251.164.253/22: IP('162.251.164.253/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 186.148.222.0/22: IP('186.148.222.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 188.65.31.0/23: IP('188.65.31.0/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 192.225.213.0/23: IP('192.225.213.0/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 195.229.27.221/30: IP('195.229.27.221/30') has invalid prefix length (30)
errors.savvis.db:ERROR: Invalid address prefix: 196.10.139.0/23: IP('196.10.139.0/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 198.6.16.0/19: IP('198.6.16.0/19') has invalid prefix length (19)
errors.savvis.db:ERROR: Invalid address prefix: 199.36.69.0/23: IP('199.36.69.0/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 201.229.110.0/22: IP('201.229.110.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 203.228.216.0/20: IP('203.228.216.0/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 204.10.107.0/23: IP('204.10.107.0/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 205.157.151.224/26: IP('205.157.151.224/26') has invalid prefix length (26)
errors.savvis.db:ERROR: Invalid address prefix: 206.98.113.201/29: IP('206.98.113.201/29') has invalid prefix length (29)
errors.savvis.db:ERROR: Invalid address prefix: 208.122.23.0/22: IP('208.122.23.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 208.77.134.0/22: IP('208.77.134.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 208.94.225.0/21: IP('208.94.225.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 216.135.96.101/24: IP('216.135.96.101/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 216.52.0.1/21: IP('216.52.0.1/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 216.59.57.0/21: IP('216.59.57.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 216.89.78.162/29: IP('216.89.78.162/29') has invalid prefix length (29)
errors.savvis.db:ERROR: Invalid address prefix: 216.89.79.34/27: IP('216.89.79.34/27') has invalid prefix length (27)
errors.savvis.db:ERROR: Invalid address prefix: 23.15.142.1/23: IP('23.15.142.1/23') has invalid prefix length (23)
errors.savvis.db:ERROR: Invalid address prefix: 23.15.204.1/22: IP('23.15.204.1/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 23.15.208.1/20: IP('23.15.208.1/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 24.137.34.0/22: IP('24.137.34.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 37.34.192.0/17: IP('37.34.192.0/17') has invalid prefix length (17)
errors.savvis.db:ERROR: Invalid address prefix: 41.202.174.0/22: IP('41.202.174.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 41.84.223.0/22: IP('41.84.223.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 46.32.96.120/21: IP('46.32.96.120/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 61.5.190.0/20: IP('61.5.190.0/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 63.141.38.0/21: IP('63.141.38.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 64.152.237.0/22: IP('64.152.237.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 64.202.167.0/21: IP('64.202.167.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 64.243.224.194/27: IP('64.243.224.194/27') has invalid prefix length (27)
errors.savvis.db:ERROR: Invalid address prefix: 64.243.224.225/27: IP('64.243.224.225/27') has invalid prefix length (27)
errors.savvis.db:ERROR: Invalid address prefix: 64.74.100.253/24: IP('64.74.100.253/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 64.75.81.0/22: IP('64.75.81.0/22') has invalid prefix length (22)
errors.savvis.db:ERROR: Invalid address prefix: 65.114.21.0/16: IP('65.114.21.0/16') has invalid prefix length (16)
errors.savvis.db:ERROR: Invalid address prefix: 66.151.248.128/19: IP('66.151.248.128/19') has invalid prefix length (19)
errors.savvis.db:ERROR: Invalid address prefix: 69.25.196.1/24: IP('69.25.196.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 69.90.117.1/24: IP('69.90.117.1/24') has invalid prefix length (24)
errors.savvis.db:ERROR: Invalid address prefix: 71.19.230.0/21: IP('71.19.230.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 72.162.128.128/20: IP('72.162.128.128/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 72.162.192.80/20: IP('72.162.192.80/20') has invalid prefix length (20)
errors.savvis.db:ERROR: Invalid address prefix: 76.10.159.0/18: IP('76.10.159.0/18') has invalid prefix length (18)
errors.savvis.db:ERROR: Invalid address prefix: 91.147.191.0/21: IP('91.147.191.0/21') has invalid prefix length (21)
errors.savvis.db:ERROR: Invalid address prefix: 94.128.16.0/17: IP('94.128.16.0/17') has invalid prefix length (17)
```

I think we should prepare an up to date mail per IRR database and ask them to fix it. We can't repair the original information, we don't know whether it is the prefix or the prefix length that is incorrect.

In any regard we should treat these as syntactically invalid

OK, shall I then make an overview per database of all invalid objects?

Anyways, here's the full list of all current invalid objects: https://gist.github.com/mxsasha/9230c8db3fa1ba2ab84e7d1b5db17059
This does not include SAVVIS anymore, as it's not mirrored by NTT at this time.


@job doing a bit more digging, I'm not sure whether this is invalid.

RFC2622 says:
```
   <address-prefix> An address prefix is represented as an IPv4 address
      followed by the character slash "/" followed by an integer in the
      range from 0 to 32.  The following are valid address prefixes:
      128.9.128.5/32, 128.9.0.0/16, 0.0.0.0/0; and the following address
      prefixes are invalid:  0/0, 128.9/16 since 0 or 128.9 are not
      strings containing four integers.
```

RFC4012 (RPSLng) says:

```
This document will reference three new IPv6 RPSL types, namely,
<ipv6-address>, <ipv6-address-prefix>, and <ipv6-address-prefix-
range>.  The <ipv6-address> and <ipv6-address-prefix> types are
defined in Sections 2.2 and 2.3 of RFC 3513 [3]. 
```

RFC 3513 2.3 says:

```
The text representation of IPv6 address prefixes is similar to the
way IPv4 addresses prefixes are written in CIDR notation [CIDR].  An
IPv6 address prefix is represented by the notation:

      ipv6-address/prefix-length

where

      ipv6-address    is an IPv6 address in any of the notations listed
                      in section 2.2.

      prefix-length   is a decimal value specifying how many of the
                      leftmost contiguous bits of the address comprise
                      the prefix.

[...]

When writing both a node address and a prefix of that node address
(e.g., the node's subnet prefix), the two can combined as follows:

      the node address      12AB:0:0:CD30:123:4567:89AB:CDEF
      and its subnet number 12AB:0:0:CD30::/60

      can be abbreviated as 12AB:0:0:CD30:123:4567:89AB:CDEF/60
```

In other words, I haven't been able to find anything in these RFCs that says host bits can not be set. It's certainly somewhat odd, but reading the syntax strictly, I don't see where it is forbidden. Which might explain why it happens so often.

decision: IRRdv4 won't accept CIDR prefixes with the host bits set. We'll consider it an error where we can't conclude if the network address is wrong or the prefix length is wrong.

In a route-set we should salvage what (mp-)members we can, in a route/route6 object we should reject the object. In all cases emit log entries.  

(side note: the SAVVIS database has been deprecated & deleted from the global IRR system, so that reduces the number of invalid CIDR notations a bit - I'll reach out to RIPE and ARIN and get them to fix things)

I have reached out to LEVEL3, AFRINIC, and BELL about their prefixes with host bits set.

AFRINIC is a bit hit-and-miss, their db hides emails.  The domain of the LEVEL3 entry no longer exists,  emailing the level3 tech-c to remove.


I agree with @mxsasha, reject the entire object.  Don't try to salvage it.

btw, it would be useful to include the object name in the error message:
errors.bell.db:ERROR: Value is neither a valid set name nor a valid prefix: 207.34.47.0/16: IP('207.34.47.0/16') has invalid prefix length (16)
